@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 54.5455% 91.3725%;
    --foreground: 0 0% 20%;
    --card: 46.875 66.6667% 90.5882%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 212.6471 76.4045% 65.098%;
    --primary-foreground: 37.8947 17.1171% 21.7647%;
    --secondary: 38.9189 14.9798% 51.5686%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 20% 98.0392%;
    --muted-foreground: 220 8.9362% 46.0784%;
    --accent: 38.5714 22.9508% 76.0784%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13.0435% 90.9804%;
    --input: 220 13.0435% 90.9804%;
    --ring: 217.2193 91.2195% 59.8039%;
    --chart-1: 217.2193 91.2195% 59.8039%;
    --chart-2: 221.2121 83.1933% 53.3333%;
    --chart-3: 224.2781 76.3265% 48.0392%;
    --chart-4: 225.931 70.7317% 40.1961%;
    --chart-5: 224.4444 64.2857% 32.9412%;
    --sidebar: 46.875 66.6667% 90.5882%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 46.875 66.6667% 90.5882%;
    --sidebar-primary-foreground: #fffff;
    --sidebar-accent: 204 93.75% 93.7255%;
    --sidebar-accent-foreground: 224.4444 64.2857% 32.9412%;
    --sidebar-border: 220 13.0435% 90.9804%;
    --sidebar-ring: 217.2193 91.2195% 59.8039%;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.95rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 9.0196%;
    --foreground: 60 54.5455% 91.3725%;
    --card: 0 0% 14.902%;
    --card-foreground: 60 54.5455% 91.3725%;
    --popover: 0 0% 14.902%;
    --popover-foreground: 0 0% 89.8039%;
    --primary: 212.6471 76.4045% 65.098%;
    --primary-foreground: 0 0% 14.902%;
    --secondary: 38.1818 89.9371% 68.8235%;
    --secondary-foreground: 37.8947 17.1171% 21.7647%;
    --muted: 0 0% 12.1569%;
    --muted-foreground: 0 0% 63.9216%;
    --accent: 212.8 59.0551% 75.098%;
    --accent-foreground: 216 6.4935% 15.098%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 25.098%;
    --input: 0 0% 25.098%;
    --ring: 217.2193 91.2195% 59.8039%;
    --chart-1: 213.1169 93.9024% 67.8431%;
    --chart-2: 217.2193 91.2195% 59.8039%;
    --chart-3: 221.2121 83.1933% 53.3333%;
    --chart-4: 224.2781 76.3265% 48.0392%;
    --chart-5: 225.931 70.7317% 40.1961%;
    --sidebar: 0 0% 9.0196%;
    --sidebar-foreground: 0 0% 89.8039%;
    --sidebar-primary: 217.2193 91.2195% 59.8039%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224.4444 64.2857% 32.9412%;
    --sidebar-accent-foreground: 213.3333 96.9231% 87.2549%;
    --sidebar-border: 0 0% 25.098%;
    --sidebar-ring: 217.2193 91.2195% 59.8039%;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.95rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  height: 100%;
  overflow: auto;
}
body {
  height: 100%;
}

.disable-scrollbars {
  /* Chrome/Safari/Webkit */
  ::-webkit-scrollbar {
    background: transparent;
    width: 0px;
  }
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
}
